<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Webpage name -->
  <title>Twitch Project 2</title>
  <!-- Link stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <!-- Set up Jumbotron section -->
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Twitch Project 2</h1>
      <h2>Ashley, Carter, Isaac, Todd</h2>
    </div>
  </div>
  
  <!-- "Race" chart from D3 website-->
  <div> 
    <iframe width="100%" height="682" frameborder="0"
    src="https://observablehq.com/embed/@ccalvare/bar-chart-race-explained?cells=chart"></iframe>
  </div>

  <div class="row">
    <!-- <div class="col-md-5"> -->
      <div id="lol_avg_views"></div>
      <div id="fortnite_avg_views"></div>
      <div id="csgo_avg_views"></div>
      <div id="amongus_avg_views"></div>
      <div id="cod_avg_views"></div>
      <div id="avg_viewers_bar"></div>
      <div id="total_views_bar"></div>
      <div id="peak_viewers_bar"></div>
      <div id="hours_watched_bar"></div>
      <div id="followers_bar"></div>
      <div id="time_streamed_bar"></div>
    <!-- </div> -->
  </div>
  
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'lol_avg_views.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'fortnite_avg_views.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'csgo_avg_views.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'amongus_avg_views.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'cod_avg_views.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'avg_viewers_bar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'total_views_bar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'peak_viewers_bar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'hours_watched_bar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'followers_bar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'time_streamed_bar.js') }}"></script>

  
        
   
</body>

</html>
